*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc-chisel/*
!Makefile
!README.md
!AGENTS.md
!learning_record.md
!.gitignore
!init.sh
/fceux-am
!/docs/*.md
!LICENSE.txt
!flake.nix
!flake.lock
!/rt-thread
!/npc-frontend
!/yosys-sta
