[submodule "am-kernels"]
	path = am-kernels
	url = https://github.com/srcres258/ysyx-am-kernels.git
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = https://github.com/srcres258/ysyx-ysyxSoC.git
	branch = ysyx6-own
[submodule "npc/vsrc-chisel"]
	path = npc/vsrc-chisel
	url = https://github.com/srcres258/chisel-ysyx-cpu.git
[submodule "rt-thread"]
	path = rt-thread
	url = https://github.com/srcres258/rt-thread-am.git
[submodule "standard"]
	path = rt-thread
	url = https://github.com/srcres258/ysyx-standard.git
[submodule "yosys-sta"]
	path = yosys-sta
	url = https://github.com/srcres258/yosys-sta.git
	branch = own
